{% extends "navbar.html" %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <style>
        .home-link {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
        }
    
        .home-link:hover {
            background-color: #45a049;
        }
    </style>
  
</head>

<body>
    <div class="success-container">
        {% for i in cart_items %}
        <div class="success-header">Payment Successful!</div>
        <div class="success-message">Thank you for your purchase.</div>
        <div class="order-id">Product title: {{ i.product.title}}</div>
        <div class="order-id">Product image: <img src="{{ i.product.image_set.first.image.url }}"></div>
        <div class="order-id">Product price: {{ i.product.price}}</div>
        <a href="/" class="home-link">Cancel Payment</a><br>
        <a href="/" class="home-link">Back to Home</a>

        {% endfor %}
    </div>
       
</body>

</html>
{% endblock %}