{% extends 'base.html' %}
{% block content %}
<style>
  /* Add your custom CSS styles here */
  .add-category-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: bold;
    font-size: 18px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #45a049;
  }
</style>

<div class="add-category-form">
   

  <form action="" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="form-group">
      <label class="form-label" for="category_name">Category Name:</label>
      <input type="text" id="category_name" name="category_name" class="form-control" required>
    </div>
    <div class="form-group">
      <label class="form-label" for="category_image">Category Image:</label>
      <input type="file" id="category_image" name="category_image" accept="image/*" class="form-control" required>
    </div>
    <button type="submit" class="submit-btn">Submit</button>
  </form>
</div>
{% endblock %}
